body {
	font-family:'Ubuntu Mono', 'Source Code Pro for Powerline', 'Source Code Pro', 'Courier New';
	padding:0;
	margin:0;
	color:#ddd;
	width:100%;
	height:100%;
	font-size:20px;
}
body,html,.buffer{
	height:100%;
}

.buffer {
	bottom:1.5em;
	overflow:auto;
	-ms-overflow-style: none;
}

.content {
	overflow:auto;
	white-space:pre;
	position:relative;
}

.code {
	z-index:0;
	line-height:1.2em;
	-moz-tab-size: 4;
	-o-tab-size:   4;
	tab-size:      4;
}

.selections, .highlights {
	pointer-events: none;
	z-index:0;
}

.selections .line-selected {
	background:#fff;
	opacity:.1;
}

.gutter {
	float:left;
	width:5ch; /*ch means width of the zero (0) character*/
	padding-left:1ch;
	padding-right:1ch;
	overflow:hidden;
	color:#595959;
	-webkit-user-select:none;
	-ms-user-select:none;
	-moz-user-select:none;
	-o-user-select:none;
}

.line-num {
	text-align:right;
	line-height:1.2em;
}


.line pre {
	display:inline;
}

pre {
	margin:0;
	padding:0;
	font-family:inherit;
	-moz-tab-size: 4;
	-o-tab-size:   4;
	tab-size:      4;
}

.cursor {
	position:absolute;
	background:#ae81ff;
	color:white;
	z-index:99;
	white-space:pre;
}
.cursor.ongoing-key {
	z-index:100000;
}

.status-bar .cursor {
	opacity:.4;
	background:#fff;
	height:1em;
	width:1ch;
	position:relative;
	top:0.25em;
	margin-left:1px;
}

.status-bar-left {
	float:left;
}	

.status-bar {
	position:fixed;
	left:0;
	right:0;
	bottom:0;
	height:1.5em;
	line-height:1.5em;
	padding:0 10px 0 10px;
	overflow:auto;
	background:#007ACC;
	z-index:100;
}

.status-bar .buf-name{
	float:right;
}
.status-bar .buf-name.buf-unsaved{
	opacity:0.7;
}

.status-bar .ongoing-keys {
	margin-left:2ch;
}

.status-bar .ex {
	white-space: pre;	
}

.buffer::-webkit-scrollbar, .status-bar::-webkit-scrollbar, .content::-webkit-scrollbar, .autocompl::-webkit-scrollbar{
        display: none;
}

.autocompl {
	background:#eee;
	border-radius:5px;
	color:#000;
	position:absolute;
	box-shadow: 0 2px 8px 1px #000;
	max-height:240px;
	max-width:500px;
	overflow:auto;
}
.autocompl pre {
	padding: 0 10px;
	height:24px;
}

.autocompl .highlight {
	background: #007ACC;
	color: #fff;
}

.line-selected {
	white-space:pre;
	position:absolute;
	z-index:-1;
}

.highlights .line-selected {
	background:rgb(102, 217, 239);
	color:#000;
}

.cursor-brace .line-selected {
	background:#007acc;
	opacity:0.3;
	width:9.57px;
	z-index:1000;
}

/*next 7 colors came from OSX's Reminders App*/
.lines .brace-0 {
	/*red*/
	color:#E30054;
}

.lines .brace-1 {
	/*orange*/
	color:#E37519;
}

.lines .brace-2 {
	/*yellow*/
	color:#DEA724;
}

.lines .brace-3 {
	/*green*/
	color:#00A725;
}

.lines .brace-4 {
	/*blue*/
	color:#0091D1;
}

.lines .brace-5 {
	/*purple*/
	color:#B654BC;
}

.lines .brace-6 {
	/*brown*/
	color:#8F6C4D;
}
