/*
about z-index:
    selection -1
    code-block 0
    search highlight 1
    cursor 1
    matched bracket 1
    cursor ongoing key 2
    gutter 2
    status bar 2
    hidden input 3
    view spliter 4
    autocompl 5
*/

@font-face {
    font-family: 'Ubuntu Mono';
    src: url('../fonts/UbuntuMono-B.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu Mono';
    src: url('../fonts/UbuntuMono-BI.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Ubuntu Mono';
    src: url('../fonts/UbuntuMono-RI.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Ubuntu Mono';
    src: url('../fonts/UbuntuMono-R.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Inconsolata', 'Ubuntu Mono', 'Source Code Pro for Powerline', 'Source Code Pro', 'Courier New';
    margin: 0;
    color: #ddd;
    width: 100%;
    height: 100%;
    background: #202020;
    font-size: 1em;
    tab-size: 4;
    -o-tab-size: 4;
    -ms-tab-size: 4;
}

body,
html,
#editor {
    width: 100%;
    height: 100%;
}

#buffers {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.view {
    height: 100%;
    width: 100%;
    position: absolute;
}

.view-box-hor > .view:first-child {
    top: 0;
    left: 0;
}

.view-box-hor > .view:first-child:before,
.view-box-ver > .view:first-child:before {
    content: '';
    display: block;
    background: #eee;
    position: absolute;
    z-index: 4;
}

.view-box-ver > .view:first-child:before {
    width: 2px;
    height: 100%;
    right: -1px;
    cursor: ew-resize;
}

.view-box-hor > .view:first-child:before {
    width: 100%;
    height: 2px;
    bottom: -1px;
    cursor: ns-resize;
    background: transparent;
}

.view-box-hor > .view:last-child {
    bottom: 0;
    left: 0;
}

.view-box-ver > .view:first-child {
    left: 0;
    top: 0;
}

.view-box-ver > .view:last-child {
    right: 0;
    top: 0;
}

.view-box-spliter-hor {
    width: 100%;
    height: 2px;
}

.view-box-spliter-ver {
    width: 2px;
    height: 100%;
}

.buffer {
    height: 100%;
    overflow: auto;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
}

.content {
    overflow: auto;
    white-space: pre;
    position: relative;
}

.code-block {
    z-index: 0;
    line-height: 1.2em;
}

.selections,
.highlights {
    pointer-events: none;
    z-index: 0;
}

.selections .line-selected {
    background: #fff;
    opacity: .1;
}

.gutter {
    float: left;
    width: 5ch;
    /*ch means width of the zero (0) character*/
    overflow: hidden;
    color: #595959;
    position: relative;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    z-index: 2;
}

.line-num {
    text-align: right;
    line-height: 1.2em;
    padding-left: 1ch;
    padding-right: 1ch;
}

.line-num.highlight {
    color: #aaa;
}

.line pre {
    display: inline;
}

pre {
    margin: 0;
    padding: 0;
    font-family: inherit;
}

.cursor {
    position: absolute;
    z-index: 1;
    white-space: pre;
    height: 1.2em;
    line-height: 1.2em;
    white-space: pre;
}

.inactive-view .cursor,
.inactive-view .cursor-second {
    display: none;
}

.cursor.ime {
    opacity: 0;
}

#hidden-input {
    position: absolute;
    font-size: inherit;
    resize: none;
    left: 0;
    width: 10000px;
    height: 100%;
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    background: none;
    color: #fff;
    white-space: pre;
    word-wrap: normal;
    opacity: 0;
    z-index: -1;
    pointer-events: none;
}

#hidden-input:disabled {
    width: 0;
}

.ime-preview {
    border: solid 1px white;
    border-radius: 3px;
    color: #fff;
    padding-left: 0.2ch;
    padding-right: 0.2ch;
    white-space: pre;
    height: 1em;
    line-height: 1em;
    display: inline-block;
}

.ime-cursor {
    display: inline-block;
    width: 2px;
    background: #fff;
    height: 0.7em;
}

.cursor.ongoing-key {
    z-index: 2;
}

.status-bar .cursor {
    opacity: .4;
    background: #fff;
    height: 1em;
    width: 1ch;
    position: absolute;
    top: 0.25em;
    margin-left: 1px;
    display: none;
}

.status-bar.focus .cursor {
    display: block;
}

.status-bar .second-cursor {
    background: #272822;
    opacity: 0.3;
}

.status-bar {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1.5em;
    line-height: 1.5em;
    padding: 0 1ch 0 1ch;
    overflow: auto;
    background: #007ACC;
    z-index: 2;
}

.status-bar .buf-name {
    float: right;
}

.status-bar .buf-name.buf-dirty {
    opacity: 0.6;
}

.status-bar .ongoing-keys {
    margin-right: 5ch;
    float: right;
}

.status-bar .ex {
    white-space: pre;
}

.inactive-view .status-bar {
    opacity: 0.6;
}


::-webkit-scrollbar {
    display: none;
}

.buffer::-webkit-scrollbar,
.status-bar::-webkit-scrollbar,
.content::-webkit-scrollbar,
.autocompl::-webkit-scrollbar {
    display: none;
}

.autocompl {
    background: #eee;
    color: #888;
    position: absolute;
    box-shadow: 0 2px 8px 1px #000;
    max-height: 12em;
    /*10+0.2*10*/
    overflow: auto;
    z-index: 5;
}

.autocompl pre {
    padding: 0.1em 1ch;
    height: 1em;
}

.autocompl pre .matched {
    font-weight: bold;
    color: #000;
}

.autocompl .highlight {
    background: #007ACC;
    color: #fff;
}

.autocompl .info {
    float: right;
    padding-left: 2ch;
    font-size: smaller;
    font-style: italic;
    overflow: hidden;
    max-width: 70ch;
}

.autocompl .with-class:before {
    display: block;
    float: right;
    font-size: smaller;
    font-style: italic;
    padding-left: 2ch;
}

.autocompl .with-class.file:before {
    content: 'φ';
}

.autocompl .with-class.dir:before {
    content: 'δ';
}

.autocompl .with-class.exe:before {
    content: 'ε';
}

.autocompl .with-class.package:before {
    content: 'p';
}

.autocompl .with-class.var:before {
    content: 'v';
}

.autocompl .with-class.const:before {
    content: 'c';
}

.autocompl .with-class.func:before {
    content: 'f';
}

.autocompl .with-class.type:before {
    content: 't';
}

.autocompl .with-class.PANIC:before {
    content: 'P';
}

.ex-autocompl {
    position: fixed;
    max-width: 1000px;
}

.line-selected {
    white-space: pre;
    position: absolute;
    z-index: -1;
}

.highlights .line-selected {
    background: rgba(102, 198, 239, 0.7);
    color: #000;
}

.cursor2 {
    z-index: 1;
    opacity: 0.65;
}

.lines {
    /*position: absolute;*/
}


/*next 7 colors came from OSX's Reminders App*/
.emphasis {
    font-style: italic;
}
.strong {
    font-style: bold;
}

.header {
    color: #000080;
}

.comment {
    color: #608b4e;
}

.constant.language {
    color: #569cd6;
}

.constant.numeric {
    color: #b5cea8;
}

.constant.regexp {
    color: #646695;
}

.entity.name.tag{
    color: #569cd6
}

.entity.name.tag.css {
    color: #d7ba7d;
}
.entity.other.attribute-name{
    color: #9cdcfe;
}

.entity.other.attribute-name.class.css,
.entity.other.attribute-name.class.mixin.css,
.entity.other.attribute-name.id.css,
.entity.other.attribute-name.parent-selector.css,
.entity.other.attribute-name.pseudo-class.css,
.entity.other.attribute-name.pseudo-element.css,
.source.css.less,
.entity.other.attribute-name.id,
.entity.other.attribute-name.attribute.scss,
.entity.other.attribute-name.scss
{
    color: #d7ba7d;
}
.invalid {
    color: #f44747;
}
.markup.underline {
    text-decoration: underline;
}

.markup.bold {
    font-weight: bold;
    color: #569cd6;
}

.markup.heading{
    font-weight: bold;
    color: #569cd6;
}

.markup.italic{
    font-style: italic;
}

.markup.inserted{
    color: #b5cea8;
}

.markup.deleted{
    color: #ce9178;
}

.markup.changed{
    color: #569cd6;
}

.beginning.punctuation.definition.quote.markdown{
    color: #608b4e;
}
.beginning.punctuation.definition.list.markdown{
    color: #6796e6;
}
.markup.inline.raw{
    color: #ce9178;
}
.meta.selector{
    color: #d7ba7d;
}

.punctuation.definition.tag{
    color: #808080;
}
.meta.preprocessor{
    color: #569cd6;
}
.meta.preprocessor.string{
    color: #ce9178;
}
.meta.preprocessor.numeric{
    color: #b5cea8;
}
.meta.structure.dictionary.key.python{
    color: #9cdcfe;
}
.meta.diff.header{
    color: #569cd6;
}
.storage{
    color: #569cd6;
}
.storage.type{
    color: #569cd6;
}
.storage.modifier{
    color: #569cd6;
}
.string{
    color: #ce9178;
}
.string.tag {
    color: #ce9178;
}
.string.value{
    color: #ce9178;
}
.string.regexp{
    color: #d16969;
}
.punctuation.definition.template-expression.begin.js,
.punctuation.definition.template-expression.begin.ts,
.punctuation.definition.template-expression.end.ts,
.punctuation.definition.template-expression.end.js {
    color: #569cd6;
}

.support.type.vendored.property-name,
.support.type.property-name,
.variable.css,
.variable.scss,
.variable.other.less {
    color: #9cdcfe;
}
.keyword{
    color: #569cd6;
}
.keyword.control{
    color: #569cd6;
}
.keyword.operator{
    color: #d4d4d4;
}
.keyword.operator.new,
.keyword.operator.expression,
.keyword.operator.cast,
.keyword.operator.sizeof,
.keyword.operator.logical.python {
    color: #569cd6;
}
.keyword.other.unit {
    color: #b5cea8;
}
.punctuation.section.embedded.begin.metatag.php,
.punctuation.section.embedded.end.metatag.php {
    color: #569cd6;
}
.support.function.git-rebase{
    color: #9cdcfe;
}
.constant.sha.git-rebase{
    color: #b5cea8;
}
.storage.modifier.import.java,
.storage.modifier.package.java {
    color: #d4d4d4;
}
.variable.language{
    color: #569cd6;
}

.entity.name.function,
.support.function,
.support.constant.handlebars{
    color: #DCDCAA
}
.meta.return-type,
.support.class,
.support.type,
.entity.name.type,
.entity.name.class,
.storage.type.cs,
.storage.type.generic.cs,
.storage.type.modifier.cs,
.storage.type.variable.cs,
.storage.type.annotation.java,
.storage.type.generic.java,
.storage.type.java,
.storage.type.object.array.java,
.storage.type.primitive.array.java,
.storage.type.primitive.java,
.storage.type.token.java,
.storage.type.groovy,
.storage.type.annotation.groovy,
.storage.type.parameters.groovy,
.storage.type.generic.groovy,
.storage.type.object.array.groovy,
.storage.type.primitive.array.groovy,
.storage.type.primitive.groovy{
    color: #4EC9B0;
}
.meta.type.cast.expr,
.meta.type.new.expr,
.support.constant.math,
.support.constant.dom,
.support.constant.json,
.entity.other.inherited-class {
    color: #4EC9B0;
}
.keyword.control{
    color: #C586C0
}
.variable,
.meta.definition.variable.name,
.support.variable{
    color: #9CDCFE;
}
.meta.object-literal.key,
.meta.object-literal.key,
.entity.name.function{
    color: #9CDCFE;
}
.support.constant.property-value,
.support.constant.font-name,
.support.constant.media-type,
.support.constant.media,
.constant.other.color.rgb-value,
.constant.other.rgb-value,
.support.constant.color{
    color: #CE9178;
}



/*
[
      {
          "settings": {
              "foreground": "#D4D4D4",
               "background": "#1E1E1E"
            }
      },
     {
          "scope": "emphasis",
           "settings": {
              "fontStyle": "italic"
          }
      },
     {
          "scope": "strong",
         "settings": {
              "fontStyle": "bold"
            }
      },
     {
          "scope": "header",
         "settings": {
              "foreground": "#000080"
            }
      },
     {
          "scope": "comment",
            "settings": {
              "foreground": "#608b4e"
            }
      },
     {
          "scope": "constant.language",
          "settings": {
              "foreground": "#569cd6"
            }
      },
     {
          "scope": [
             "constant.numeric"
         ],
         "settings": {
              "foreground": "#b5cea8"
            }
      },
     {
          "scope": "constant.regexp",
            "settings": {
              "foreground": "#646695"
            }
      },
     {
          "scope": "entity.name.tag",
            "settings": {
              "foreground": "#569cd6"
            }
      },
     {
          "scope": "entity.name.tag.css",
            "settings": {
              "foreground": "#d7ba7d"
            }
      },
     {
          "scope": "entity.other.attribute-name",
            "settings": {
              "foreground": "#9cdcfe"
            }
      },
     {
          "scope": [
             "entity.other.attribute-name.class.css",
               "entity.other.attribute-name.class.mixin.css",
             "entity.other.attribute-name.id.css",
              "entity.other.attribute-name.parent-selector.css",
             "entity.other.attribute-name.pseudo-class.css",
                "entity.other.attribute-name.pseudo-element.css",
              "source.css.less entity.other.attribute-name.id",
              "entity.other.attribute-name.attribute.scss",
              "entity.other.attribute-name.scss"
         ],
         "settings": {
              "foreground": "#d7ba7d"
            }
      },
     {
          "scope": "invalid",
            "settings": {
              "foreground": "#f44747"
            }
      },
     {
          "scope": "markup.underline",
           "settings": {
              "fontStyle": "underline"
           }
      },
     {
          "scope": "markup.bold",
            "settings": {
              "fontStyle": "bold",
               "foreground": "#569cd6"
            }
      },
     {
          "scope": "markup.heading",
         "settings": {
              "fontStyle": "bold",
               "foreground": "#569cd6"
            }
      },
     {
          "scope": "markup.italic",
          "settings": {
              "fontStyle": "italic"
          }
      },
     {
          "scope": "markup.inserted",
            "settings": {
              "foreground": "#b5cea8"
            }
      },
     {
          "scope": "markup.deleted",
         "settings": {
              "foreground": "#ce9178"
            }
      },
     {
          "scope": "markup.changed",
         "settings": {
              "foreground": "#569cd6"
            }
      },
     {
          "scope": "beginning.punctuation.definition.quote.markdown",
            "settings": {
              "foreground": "#608b4e"
            }
      },
     {
          "scope": "beginning.punctuation.definition.list.markdown",
         "settings": {
              "foreground": "#6796e6"
            }
      },
     {
          "scope": "markup.inline.raw",
          "settings": {
              "foreground": "#ce9178"
            }
      },
     {
          "scope": "meta.selector",
          "settings": {
              "foreground": "#d7ba7d"
            }
      },
     {
          "name": "brackets of XML/HTML tags",
           "scope": "punctuation.definition.tag",
         "settings": {
              "foreground": "#808080"
            }
      },
     {
          "scope": "meta.preprocessor",
          "settings": {
              "foreground": "#569cd6"
            }
      },
     {
          "scope": "meta.preprocessor.string",
           "settings": {
              "foreground": "#ce9178"
            }
      },
     {
          "scope": "meta.preprocessor.numeric",
          "settings": {
              "foreground": "#b5cea8"
            }
      },
     {
          "scope": "meta.structure.dictionary.key.python",
           "settings": {
              "foreground": "#9cdcfe"
            }
      },
     {
          "scope": "meta.diff.header",
           "settings": {
              "foreground": "#569cd6"
            }
      },
     {
          "scope": "storage",
            "settings": {
              "foreground": "#569cd6"
            }
      },
     {
          "scope": "storage.type",
           "settings": {
              "foreground": "#569cd6"
            }
      },
     {
          "scope": "storage.modifier",
           "settings": {
              "foreground": "#569cd6"
            }
      },
     {
          "scope": "string",
         "settings": {
              "foreground": "#ce9178"
            }
      },
     {
          "scope": "string.tag",
         "settings": {
              "foreground": "#ce9178"
            }
      },
     {
          "scope": "string.value",
           "settings": {
              "foreground": "#ce9178"
            }
      },
     {
          "scope": "string.regexp",
          "settings": {
              "foreground": "#d16969"
            }
      },
     {
          "name": "JavaScript string interpolation ${}",
         "scope": [
             "punctuation.definition.template-expression.begin.js",
             "punctuation.definition.template-expression.begin.ts",
             "punctuation.definition.template-expression.end.ts",
               "punctuation.definition.template-expression.end.js"
            ],
         "settings": {
              "foreground": "#569cd6"
            }
      },
     {
          "scope": [
             "support.type.vendored.property-name",
             "support.type.property-name",
              "variable.css",
                "variable.scss",
               "variable.other.less"
          ],
         "settings": {
              "foreground": "#9cdcfe"
            }
      },
     {
          "scope": "keyword",
            "settings": {
              "foreground": "#569cd6"
            }
      },
     {
          "scope": "keyword.control",
            "settings": {
              "foreground": "#569cd6"
            }
      },
     {
          "scope": "keyword.operator",
           "settings": {
              "foreground": "#d4d4d4"
            }
      },
     {
          "scope": [
             "keyword.operator.new",
                "keyword.operator.expression",
             "keyword.operator.cast",
               "keyword.operator.sizeof",
             "keyword.operator.logical.python"
          ],
         "settings": {
              "foreground": "#569cd6"
            }
      },
     {
          "scope": "keyword.other.unit",
         "settings": {
              "foreground": "#b5cea8"
            }
      },
     {
          "scope": [
             "punctuation.section.embedded.begin.metatag.php",
              "punctuation.section.embedded.end.metatag.php"
         ],
         "settings": {
              "foreground": "#569cd6"
            }
      },
     {
          "scope": "support.function.git-rebase",
            "settings": {
              "foreground": "#9cdcfe"
            }
      },
     {
          "scope": "constant.sha.git-rebase",
            "settings": {
              "foreground": "#b5cea8"
            }
      },
     {
          "name": "coloring of the Java import and package identifiers",
         "scope": [
             "storage.modifier.import.java",
                "storage.modifier.package.java"
            ],
         "settings": {
              "foreground": "#d4d4d4"
            }
      },
     {
          "name": "this.self",
           "scope": "variable.language",
          "settings": {
              "foreground": "#569cd6"
            }
      }
  ]
  */
