/*
about z-index:
    selection -1
    code-block 0
    search highlight 1
    cursor 1
    matched bracket 1
    cursor ongoing key 2
    autocompl 2
    gutter 2
    status bar 2
    hidden input 3
*/

@font-face {
    font-family: 'Ubuntu Mono';
    src: url('../fonts/UbuntuMono-B.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu Mono';
    src: url('../fonts/UbuntuMono-BI.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Ubuntu Mono';
    src: url('../fonts/UbuntuMono-RI.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Ubuntu Mono';
    src: url('../fonts/UbuntuMono-R.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Ubuntu Mono', 'Source Code Pro for Powerline', 'Source Code Pro', 'Courier New';
    padding: 0;
    margin: 0;
    color: #ddd;
    width: 100%;
    height: 100%;
    background: #202020;
    font-size: 1.2em;
    tab-size: 4;
    -o-tab-size: 4;
    -ms-tab-size: 4;
}

body,
html,
#editor {
    width: 100%;
    height: 100%;
}

#buffers {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 1.5em;
}

.buffer {
    height: 100%;
    overflow: auto;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
}

.content {
    overflow: auto;
    white-space: pre;
    position: relative;
}

.code-block {
    z-index: 0;
    line-height: 1.2em;
}

.selections,
.highlights {
    pointer-events: none;
    z-index: 0;
}

.selections .line-selected {
    background: #fff;
    opacity: .1;
}

.gutter {
    float: left;
    width: 5ch;
    /*ch means width of the zero (0) character*/
    overflow: hidden;
    color: #595959;
    position: relative;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    z-index: 2;
}

.line-num {
    text-align: right;
    line-height: 1.2em;
    padding-left: 1ch;
    padding-right: 1ch;
}

.line-num.highlight {
    color: #aaa;
}

.line pre {
    display: inline;
}

pre {
    margin: 0;
    padding: 0;
    font-family: inherit;
}

.cursor {
    position: absolute;
    color: white;
    z-index: 1;
    white-space: pre;
    height: 1.2em;
    line-height: 1.2em;
}

.cursor.ime {
    opacity: 0;
}

#hidden-input {
    position: absolute;
    font-size: inherit;
    resize: none;
    left: 0;
    width: 10000px;
    height: 100%;
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    background: none;
    color: #fff;
    white-space: pre;
    word-wrap: normal;
    opacity: 0;
    z-index: -1;
    pointer-events: none;
}

#hidden-input:disabled {
    width: 0;
}

.ime-preview {
    border: solid 1px white;
    border-radius: 3px;
    color: #fff;
    padding-left: 0.2ch;
    padding-right: 0.2ch;
    white-space: pre;
    height: 1em;
    line-height: 1em;
    display: inline-block;
}

.ime-cursor {
    display: inline-block;
    width: 2px;
    background: #fff;
    height: 0.7em;
}

.cursor.ongoing-key {
    z-index: 2;
}

.status-bar .cursor {
    opacity: .4;
    background: #fff;
    height: 1em;
    width: 1ch;
    position: absolute;
    top: 0.25em;
    margin-left: 1px;
    display: none;
}

.status-bar.focus .cursor {
    display: block;
}

.status-bar .second-cursor {
    background: #272822;
    opacity: 0.3;
}

.status-bar {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1.5em;
    line-height: 1.5em;
    padding: 0 1ch 0 1ch;
    overflow: auto;
    background: #007ACC;
    z-index: 2;
}

.status-bar .buf-name {
    float: right;
}

.status-bar .buf-name.buf-unsaved {
    opacity: 0.7;
}

.status-bar .ongoing-keys {
    margin-left: 2ch;
}

.status-bar .ex {
    white-space: pre;
}

::-webkit-scrollbar {
    display: none;
}

.buffer::-webkit-scrollbar,
.status-bar::-webkit-scrollbar,
.content::-webkit-scrollbar,
.autocompl::-webkit-scrollbar {
    display: none;
}

.autocompl {
    background: #eee;
    color: #888;
    position: absolute;
    box-shadow: 0 2px 8px 1px #000;
    max-height: 12em;
    /*10+0.2*10*/
    overflow: auto;
    z-index: 2;
}

.autocompl pre {
    padding: 0.1em 1ch;
    height: 1em;
}

.autocompl pre .matched {
    font-weight: bold;
    color: #000;
}

.autocompl .highlight {
    background: #007ACC;
    color: #fff;
}

.autocompl .info {
    float: right;
    padding-left: 2ch;
    font-size: smaller;
    font-style: italic;
    overflow: hidden;
    max-width: 70ch;
}

.autocompl .with-class:before {
    display: block;
    float: right;
    font-size: smaller;
    font-style: italic;
    padding-left: 2ch;
}

.autocompl .with-class.file:before {
    content: 'φ';
}

.autocompl .with-class.dir:before {
    content: 'δ';
}

.autocompl .with-class.exe:before {
    content: 'ε';
}

.autocompl .with-class.package:before {
    content: 'p';
}

.autocompl .with-class.var:before {
    content: 'v';
}

.autocompl .with-class.const:before {
    content: 'c';
}

.autocompl .with-class.func:before {
    content: 'f';
}

.autocompl .with-class.type:before {
    content: 't';
}

.autocompl .with-class.PANIC:before {
    content: 'P';
}

.ex-autocompl {
    position: fixed;
    left: 3ch;
    bottom: 1.8em;
    max-width: 1000px;
}

.line-selected {
    white-space: pre;
    position: absolute;
    z-index: -1;
}

.highlights .line-selected {
    background: rgba(102, 198, 239, 0.7);
    color: #000;
}

.cursor2 {
    background: #007acc;
    opacity: 0.3;
    z-index: 1;
}

.lines {
    /*position: absolute;*/
}


/*next 7 colors came from OSX's Reminders App*/

.lines .bracket-0 {
    /*red*/
    color: #E30054;
}

.lines .bracket-1 {
    /*orange*/
    color: #E37519;
}

.lines .bracket-2 {
    /*yellow*/
    color: #DEA724;
}

.lines .bracket-3 {
    /*green*/
    color: #00A725;
}

.lines .bracket-4 {
    /*blue*/
    color: #0091D1;
}

.lines .bracket-5 {
    /*purple*/
    color: #B654BC;
}

.lines .bracket-6 {
    /*brown*/
    color: #8F6C4D;
}
